body {
    font-family: 'Lato', sans-serif;
    padding-top: 80px;

}

main {
   padding: 30px 15px;
}

body, .bgImage {
    margin: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}
.bgImage {
    overflow: hidden;
}


.bgImage {
    position: fixed;
    background-image: linear-gradient(45deg, $primary, $secondary);
    background-size: cover;
    background-position: top;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.05;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.blobCont {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0.05;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
}
.blob {
    fill: url(#hero-gradient) #302579;
}
@for $i from 1 through 18 {
    $a : #{$i*90};
    $b : #{$i*90+360};

    .blob:nth-child(#{$i}) {
        animation: move#{$i} 20s infinite linear;
    }

    @keyframes move#{$i} {
        from {
            transform:rotate(#{$a}deg) translate( 200px ,0.1px) rotate(-#{$a}deg);
        }
        to {
            transform:rotate(#{$b}deg) translate( 200px ,0.1px) rotate(-#{$b}deg);
        }
    }

}

.main-header {
    border-top: 3px solid $secondary;
    background-color: rgba(black, 0.6);
    font-weight: 700;
    letter-spacing: .1rem;
    font-size: 0.9rem;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2000;
    transform: translateY(-100%);
    opacity: 0;
    -webkit-animation-name: navbarFadeIn;
    -moz-animation-name: navbarFadeIn;
    -o-animation-name: navbarFadeIn;
    animation-name: navbarFadeIn;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    .navbar {
        min-height: 70px;
    }
    .navbar-light {
        .navbar-brand, .nav-link {
            color: $white;
            &:hover, &:focus, &:focus:active{
                color: $white;
            }
        }
        .nav-link {
            opacity: 0.9;
            &:hover{
                opacity: 1;
            }
        }
    }
    .navbar-brand {
        letter-spacing: 2px;
    }
    .outline {
        border-radius: 15px;
        border: 1px solid $secondary;
        padding-left: 15px;
        padding-right: 15px;
        position: relative;
        overflow: hidden;

        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: $secondary;
            z-index: -1;
            opacity: 0;
            -webkit-transition: opacity 0.3s;
            -moz-transition: opacity 0.3s;
            -ms-transition: opacity 0.3s;
            -o-transition: opacity 0.3s;
            transition: opacity 0.3s;
        }
        &:hover {
            &:before {
                opacity: 1;
            }
        }
    }
}
@keyframes navbarFadeIn {
    to {
        transform: translateY(0);
        opacity: 1;
    }
}